{% extends 'base.html.twig' %}

{% block title %}Create New Stock{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <h1>Create New Stock</h1>
        </div>

        <div class="action-links">
            <a href="{{ path('app_dashboard_stocks') }}">← Back to list</a>
        </div>

        <div class="content-card">
            <h2>Stock Details</h2>
            <p>Fill in the stock information below</p>
            
            {{ include('stock/_form.html.twig', {'button_label': 'Create Stock'}) }}
        </div>
    </div>
{% endblock %}